<mat-toolbar *ngIf="isLoggedIn">
  <mat-toolbar-row>
    <button title="Create a Shopping List" class="PC" mat-button routerLink="shoppinglist-form" *ngIf="userService.getRole() === 1">
    <mat-icon aria-hidden="false" aria-label="New">add</mat-icon>
  </button>
    <button title="Your Shopping Lists" class="PC" mat-button routerLink="shoppinglist-list">
      <mat-icon aria-hidden="false" aria-label="List">list</mat-icon>
    </button>
    <button title="Your Wallet" class="PC" mat-button routerLink="wallet">
      <mat-icon aria-hidden="false" aria-label="Wallet">payment</mat-icon>
    </button>
    <button title="Your Account Data" class="PC" mat-button routerLink="account">
      <mat-icon aria-hidden="false" aria-label="Account">account_box</mat-icon>
    </button>
    <button class="mobile" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
            <a href="/shoppinglist-list">
              <img class="logoA" src="../assets/LogoV3.gif" *ngIf="userService.getRole() === 1">
              <img class="logoV" src="../assets/LogoV3.gif" *ngIf="userService.getRole() === 2">
            </a>
    <p class="curlo" *ngIf="isLoggedIn">Currently logged in as {{userService.getUsername()}} </p>
   <app-logout></app-logout>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container xFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <mat-list-item routerLink="shoppinglist-list">Shoppinglists</mat-list-item>
      <mat-list-item routerLink="shoppinglist-form" *ngIf="userService.getRole() === 1">Create ShoppingList</mat-list-item>
      <mat-list-item routerLink="wallet" mat-list-item>Wallet</mat-list-item>
      <mat-list-item routerLink="account" mat-list-item>Account</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
    <footer class="page-footer font-small mdb-color lighten-3 pt-4" *ngIf="isLoggedIn">
      <div class="container text-center text-md-left">
        <div class="row">
          <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
            <h5 class="font-weight-bold text-uppercase mb-4">Covido</h5>
            <p>The best website to prioritize needs in the safest way.</p>
            <p>Going through quarantine? Nothing to eat at home? Well you know COVIDO has got
              your back. Make a shopping list and our volunteers will take care of the rest.</p>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
            <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
            <ul class="list-unstyled">
              <li>
                <p>
                  <a href="https://images.app.goo.gl/3mRTAJ5mshBXaN9Q6">Team</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="https://media.makeameme.org/created/what-about-us-1q5byf.jpg">ABOUT US</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="https://imgflip.com/i/1dm16m">BLOG</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fentries%2Ficons%2Ffacebook%2F000%2F030%2F329%2Fcover1.jpg">AWARDS</a>
                </p>
              </li>
            </ul>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
            <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
            <ul class="list-unstyled">
              <li>
                <p>
                   Graz, 8010, Steiermark, AT
                </p>
              </li>
              <li>
                <p>
                   covido@fh-joanneum.at
                </p>
              </li>
              <li>
                <p>
                  + 01 234 567 88
                </p>
              </li>
              <li>
                <p>
                   + 01 234 567 88
                </p>
              </li>
            </ul>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
            <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
            <a href="https://www.facebook.com/fhjoanneum"><mat-icon>facebook</mat-icon></a>
            <a href="https://www.facebook.com/RealBearGrylls"><mat-icon>coronavirus</mat-icon></a>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href=""> Covido Team </a>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>

