.mat-button {
  text-align: center;
  justify-content: center;
}
.mat-icon {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
.mat-toolbar {
  height: 5rem;
  background-color: #e8eced;
}

@media screen and (max-width: 1800px) {
  .logoV {
    width: 30%;
    margin-left: 88%;
  }
  .logoA {
     width: 30%;
     margin-left: 88%;
   }
}
@media screen and (min-width: 1800px) {
  .logoV {
    width: 18%;
    margin-left: 80%;
  }
  .logoA {
    width: 18%;
    margin-left: 80%;
  }
}
.flex {
  display: flex;
}
.mat-toolbar-row {
  flex: 1 1 auto;
}
.curlo {
  margin-left: 35%;
  margin-top: auto;
  font-size: 0.8rem;
  margin-right: 1%;
}
.page-footer {
  background-color: #e8eced;
}
.footer-copyright {
  background-color: #dae3e5;
}
@media screen and (max-width: 500px){
  .logoA {
    display: none;
  }
  .logoV {
    display: none;
  }
  .PC {
    display: none;
  }
  .curlo {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .mobile {
    display: none;
  }
}
