<div *ngIf="!initializing">
    <table class="table" *ngIf="medias?.length">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let media of medias; let i = index;">
            <td><strong>{{ getFilename(media) }}</strong></td>
            <td>
                <span *ngIf="!media.id">Uploading...</span>
                <span *ngIf="media.id">Upload successful</span>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" (click)="downloadMedia(media)">
                        Download
                    </button>
                    <button type="button" class="btn btn-danger" (click)="deleteMedia(i)">
                        Delete
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="file" [accept]="accept" ng2FileSelect [uploader]="uploader" [multiple]="false"/>
</div>
