*{
  box-sizing: border-box;
}
hr{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
table{
  margin-left:auto;
  margin-right:auto;
  width: 60%;
}

.publicSL{
  background-color: #eefdec;
}
.sList::after{
  content: "";
  display: table;
  clear: both;
}
.sList h2{
  padding-left: 20%;
  padding-top: 1%;
  padding-right: 20%;
  font-size: 1.8rem;
  font-family: Marker Felt, fantasy;
}
.items-section{
  border-right: 1px solid black;
}
h4{
  text-align: center;
  padding-left: 5%;
  margin-bottom: 10%;
  margin-top: 1rem;
  color: #2c2c2c;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  font-family: Marker Felt, fantasy;
}
h5 {
  font-family: Marker Felt, fantasy;
  text-align: left;
  margin-left: 1rem;
}
.items{
  text-align: center;
  width: 80%;
  display: inline-block;
  margin-left: 12.5%;
  border: 1px solid #2c2c2c;
  padding-bottom: 10%;
  margin-bottom: 5%;
  background-color: #d2e1ff;
  border-radius: 5px;
  float: left;
}

.items1{
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

.items-title{
  transform: rotate(-2deg);
  margin: 5%;
  padding:0 5px;
  background: whitesmoke;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  width: 30%;
}
.ulblock{
  //margin-block-start: 0px;
  //margin-block-end: 0px;
  padding-inline-start: 0;
  width: 100%;
  margin: 1%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  transform: rotate(-2deg);
}

ul{
  list-style-type: none;
}
.liblock{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  font-weight: lighter;
  font-size: 1.5rem;
  box-shadow:3px 3px 0 #222;
  border:1px solid #222;
  font-family: Marker Felt, fantasy;;
}

.note{
  position: relative;
  text-align: center;
  width: 40%;
  display: block;
  margin-left: 30%;
  margin-top: 8%;
  margin-bottom: 5%;
  border: 1px solid #2c2c2c;
  background-color: #ffc;
  text-decoration: underline;
  transform:rotate(-2deg);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
p.noteContent {
  display: table;
  margin: auto;
  word-wrap: break-word;
  font-size: 1.5rem;
  font-family: Marker Felt, fantasy;
  font-style: italic;
}
.sList p{
  width: 50%;
  display: inline-block;
}
.title{
  display: inline-block;
  width: 50%;
}
.details:after{
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  .col-3{
    float: left;
    width: 40%;
    text-align: left;
  }
  .col-4{
     float: right;
     width: 40%;
     text-align: right;
   }
  .sList{
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 1px darkgray,0 6px 5px 0 darkgray;
    padding-bottom: 30px;
    margin-bottom: 100px;
    border-radius: 5px;
  }
  .column{
    float: left;
    width: 50%;
  }
  .budget{
    position: absolute;
    right: 2.5%;
    bottom: 5%;
    width: 45%;
    font-family: Marker Felt, fantasy;
  }
  .budget h3{
    font-size: 1.5rem;
    word-wrap: break-word;
    float: right;
  }
}
@media only screen and (max-width: 768px) {
  .col-3{
    width: 100%;
    text-align: center;
  }
  .col-4{
    width: 100%;
    text-align: center;
  }
  .sList{
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 1px darkgray,0 6px 5px 0 darkgray;
    padding-bottom: 30px;
    margin-bottom: 100px;
    border-radius: 5px;
  }
  .column{
    width: 100%;
  }
  .budget{
    right: 2.5%;
    bottom: 5%;
    width: 100%;
    font-family: Marker Felt, fantasy;
    text-align: center;
  }
  .budget h3{
    font-size: 1.5rem;
    word-wrap: break-word;
    margin-top: 1rem;
  }
}

.col-3 p{
  padding-top: 15px;
}
.bio{
  margin-top: 5%;
  margin-left: 12.5%;
  text-align: center;
  font-family: Marker Felt, fantasy;
}

.budget button{
  word-wrap: break-word;
  float: left;
}

p.overflow {
  display: table;
  margin:auto;
  word-wrap: break-word;
  font-size: 1.3rem;
}
div.buttons{
  position: relative;
  text-align: center;
  width: 25%;
  display: inline-block;
  margin-left: 70%;
  margin-top: 10%;
}
div.public{
  position: relative;
  text-align: center;
  width: 25%;
  display: inline-block;
  margin-left: 40%;
}
div.buttons.editbutton{
  border-radius: 50%;
}
h2 {
  font-family: Verdana, Geneva, sans-serif;
  text-align:center;
  font-size: 1rem;
  margin-top: 5%;
}
.status {
  font-font: Marker Felt, fantasy;
  text-align:center;
  font-size: 1.4rem;
  margin-top: 5%;
}
.shipping {
  position: relative;
  display: inline-block;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
  width: 75%;
  display: inline-block;
  margin-left: 12.5%;
  border: 1px solid #04080f;
  border-radius: 10px;
  background-color: #d2e1ff;
  border-radius:90% 10% 92% 5%/4% 95% 6% 95%;
  font-family: Marker Felt, fantasy;

}
.mat-raised-button {
  margin-top: 1.5%;
  margin-left: 30%;
}
.mydistrict {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.mat-slide-toggle {
  font-size: 1.3rem;
}
.mat-button {
  font-size: 2rem;
}
.sketchy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 5rem;
  margin: 3rem 0rem;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid #333333;
  font-size: 1.5rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: linear-gradient(to bottom right, #e8eced, white);
  position: relative;

  &::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
  //#color-changer:checked ~ * .bio {
  //  background-color: lightgreen;
  //}
}
