<h1 class="sketchy" *ngIf="userService.getRole() === 1">My Shopping Lists</h1>
<h2 *ngIf="userService.getRole() === 1">Here you can see all of your shopping lists.</h2>
<h1 class="sketchy" *ngIf="userService.getRole() === 2">Marketplace</h1>
<h2 *ngIf="userService.getRole() === 2">Following ShoppingLists are public and waiting to be
  fulfilled.</h2>
<div class="mydistrict">
  <mat-slide-toggle [checked]="showOnlyInSameDistrict" (change)="onSameDistrictToggleChange($event)"
                    title="If you switch this off, you will also see ShoppingLists where only the first 2 digits of the zip code match yours."
                    *ngIf="userService.getRole() === 2">Show only Shoppinglists in my District
</mat-slide-toggle></div>
<hr>
<br>
<!--<table mat-table [dataSource]="shoppingLists" matSort class="mat-elevation-z8">-->

<!--  &lt;!&ndash; Title Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="creator">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header>Creator</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.creator}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="acceptor">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header>Acceptor</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.acceptor}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="comment">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="is_public">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header>Public</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.is_public}} </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->
<div class="sList" [ngClass]="{'publicSL' : list.is_public}" *ngFor="let list of shoppingLists" (mouseover)="hideElement = false"
     (mouseleave)="hideElement = true">
  <!--<input type="checkbox" id="color-changer" />-->
  <div class="details" [ngClass]="{'publicSL' : list.is_public}">
    <div class="title col-4">
      <div class="status">Status: {{shoppingListService.getStatus(list)}}</div>
    </div>
    <div class="title col-3">
      <h2>{{list.description}}</h2>
    </div>
    <div class="accept-button">
      <button mat-raised-button color="primary" (click)="onStatusButtonClick($event, list)" *ngIf="userService.getRole() === 2 && shoppingListService.getNextStatus(list) !== 'Complete'">{{shoppingListService.getNextStatus(list)}}</button>
      <button mat-raised-button color="primary" (click)="onStatusButtonClick($event, list)" *ngIf="userService.getRole() === 1 && shoppingListService.getNextStatus(list) === 'Complete'">{{shoppingListService.getNextStatus(list)}}</button>
    </div>
  </div>
  <div class="items-section column">
    <div class="items items1">
      <div class="items-title">
        <h4>Items</h4>
      </div>
      <div class="ulblock">
        <ul *ngFor="let item of list.items">
            <li class="liblock">
              <span> {{item.name}} </span> <br>
              <span>{{item.amount}} {{item.unit}} </span>
            </li>
        </ul>
      </div>
    </div>
    <div class="bio">
      <mat-checkbox [checked]="list.only_bio" (click)="$event.preventDefault()">Only Bio Products</mat-checkbox>
    </div>
  </div>
  <div class="note-section column">
    <div class="note">
      <h5>Note:</h5>
      <p class="noteContent">{{list.comment}}</p>
    </div>
    <div class="shipping" *ngIf="userService.getRole() === 2 && list.affected_address != null">
      <h3>Shipping:</h3>
      <p class="overflow">{{list.affected_address.first_name}}</p>
      <p class="overflow">{{list.affected_address.last_name}}</p>
      <p class="overflow">{{list.affected_address.street_name}}</p>
      <p class="overflow">{{list.affected_address.street_number}}</p>
      <p class="overflow">{{list.affected_address.zipcode}}</p>
      <p class="overflow">{{list.affected_address.city}}</p>
    </div>
    <div class="public">
      <mat-slide-toggle title="Publish this Shoppinglist!!" (change)="onVisibilityChange($event, list)" color="primary"
                        [checked]="list.is_public" *ngIf="userService.getRole() === 1 && list.acceptor === null">Public
      </mat-slide-toggle>
    </div>
  </div>
  <div class="budget">
    <button title="Edit this Shoppinglist!!" class="editbutton" mat-button color="primary"  [hidden]="hideElement" [routerLink]="'/shoppinglist-form/' + list.pk"
            *ngIf="userService.getRole() === 1 && shoppingListService.getStatus(list) === 'CREATED'"><mat-icon>edit</mat-icon>
    </button>
    <button title="Delete this Shoppinglist!!" mat-button color="warn" [hidden]="hideElement" (click)="deleteShoppinglist(list)"
            *ngIf="userService.getRole() === 1 && shoppingListService.getStatus(list) === 'CREATED'"><mat-icon>delete</mat-icon>
    </button>
    <h3>Max Budget: {{list.max_budget}}€</h3>
  </div>
  <!-- Slide-Toggle to change the visibility (public or not) for the shopping-list-->
</div>

