<h2 mat-dialog-title class="sketchy">Payment Conformation and Rating</h2>
<mat-dialog-content>
  <p>Please confirm the bill and bill-amount and leave a rating for your lovely Volunteer!</p>

  <p>Bill picture:</p>
  <img class="bill" src="/api/uploads/{{data.shoppingList.picture_urls[0]}}" *ngIf="data.shoppingList.picture_urls">
  <p *ngIf="!data.shoppingList.picture_urls">No picture found! :(</p>

  <p>
  <mat-checkbox [formControl]="rdFormGroup.controls.accepted_bill" name="accepted_bill" color="primary" required>The bill amount is correct ({{data.shoppingList.bill}} EUR)</mat-checkbox>
  <mat-error *ngIf="rdFormGroup.controls.accepted_bill.hasError('requiredTrue')">Please confirm the amount</mat-error>
  </p>
  <div class="rating">
    <p>Rating for your Volunteer</p>
    <p><ngb-rating [max]="5" [(rate)]="rating" [readonly]="false" (rateChange)="onRate()"></ngb-rating></p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary" (click)="close()" [disabled]="!rdFormGroup.valid || !rated">Confirm and Pay</button>
  <button mat-raised-button mat-dialog-close color="warn" (click)="close(true)">Report Volunteer</button>
  <button mat-button mat-dialog-close color="warn" [mat-dialog-close]="false">Cancel</button>
</mat-dialog-actions>
