.rating-dialog {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3rem auto;
  padding: 1rem 5rem;
  font-size: 1.3rem;
  justify-content: center;
}
.rating {
  text-align: center;
}
p {
  text-align: center;
}
.bill {
  width: 30%;
  margin-left: 35%;
  margin-right: auto;
  margin-bottom: 1rem;
}
ngb-rating {
  font-size: 50px;
  color: #f5b751;
}
.mat-button {
  margin: 0 auto;
  margin-bottom: 5%;
}
.mat-raised-button {
  margin: 0 auto;
  margin-bottom: 5%;
}
.mat-checkbox {
  text-align: center;
}
.sketchy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid #333333;
  font-size: 1.2rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: linear-gradient(to bottom right, #e8eced, white);
  position: relative;

  &::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}
