<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form [formGroup]="accountFormGroup" (ngSubmit)="updateAccount()" class="account__form">
  <div class="sketchy">Your COVIDO Account</div>


  <mat-error *ngIf="accountFormGroup.controls.first_name.hasError('required')">First name is required</mat-error>


  <!-- First Name -->
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="first_name" name="first_name" required>
    <mat-error *ngIf="accountFormGroup.controls.first_name.hasError('required')">First name is required</mat-error>
  </mat-form-field>

  <!-- Last Name -->
  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName="last_name" name="last_name" required>
    <mat-error *ngIf="accountFormGroup.controls.last_name.hasError('required')">Last name is required</mat-error>
  </mat-form-field>

  <!-- City -->
  <mat-form-field>
    <input matInput placeholder="City" formControlName="city" name="city" required>
    <mat-error *ngIf="accountFormGroup.controls.city.hasError('required')">City is required</mat-error>
    <mat-error *ngIf="accountFormGroup.controls.city.hasError('pattern')">No numbers are allowed here</mat-error>
  </mat-form-field>

  <!-- Zip code -->
  <mat-form-field>
    <input matInput placeholder="ZIPCode" formControlName="zipcode" name="zipcode" required>
    <mat-error *ngIf="accountFormGroup.controls.zipcode.hasError('pattern')">Austrian 4-digit zip code is required</mat-error>
  </mat-form-field>

  <!-- Street name -->
  <mat-form-field class="register-field">
    <input matInput placeholder="Street Name" formControlName="street_name" name="street_name" required>
    <mat-error *ngIf="accountFormGroup.controls.street_name.hasError('required')">Name is required</mat-error>
  </mat-form-field>

  <!-- Street number -->
  <mat-form-field class="register-field">
    <input matInput placeholder="Street Number" formControlName="street_number" name="street_number" required>
    <mat-error *ngIf="accountFormGroup.controls.street_number.hasError('required')">Street number is required</mat-error>
  </mat-form-field>

  <mat-card-actions align="right">
    <button mat-raised-button color="primary" [disabled]="!accountFormGroup.valid || !accountFormGroup.dirty">Save</button>
  </mat-card-actions>
  <div *ngIf="userService.getRole() === 2">
    <div *ngIf="statistics">
    <div class="sketchy">Statistic</div>
    <h6>Number of Trips: {{statistics.number_of_trips}}</h6>
    <h6>Number of Items: {{statistics.number_of_items}}</h6>
    <h6>Amount Paid: {{statistics.amount_paid}}</h6>
    </div>
  </div>
</form>


