.account__form {
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem 1rem;
}
.mat-elevation-z8 {
  text-align: right;
  margin: 1rem auto;
  border-spacing: 5px;
}

.mat-checkbox {
  margin: 1rem 1rem;
}
.mat-raised-button {
  margin: 1rem 1rem;
  width: 10rem;
}
.sketchy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 5rem;
  margin-bottom: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid #333333;
  font-size: 1.3rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: linear-gradient(to bottom right, #e8eced, white);
  position: relative;

  &::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}
