.wallet {
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  max-width: 60rem;
  margin: 1rem auto;
  padding: 1rem 2rem;
  text-align: center;
}
.mat-table {
  margin-left: auto;
  margin-right: auto;
}
.mat-header-cell {
  background-color: #2e5560;
  color: #e8eced;
  text-align: center;
}
.mat-cell {
  padding: 1rem 1rem;
}
.sketchy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid #333333;
  font-size: 1.3rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: linear-gradient(to bottom right, #e8eced, white);
  position: relative;

  &::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}
.green-icon {
  color: green;
}
