<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="wallet">
  <div class="sketchy">Wallet</div>

  <p title="Free balance: Your credit minus the maximum budget(s) of your current ShoppingList(s)."> Your current
    balance is <b>{{wallet.balance}} EUR ({{wallet.free_balance}} EUR available)</b>.</p>
  To top up credit, please transfer the desired amount to COVIDO Ltd. <br/>
  Our IBAN: AT19 1234 5678 9101 <br/>
  Please contact our hotline to have your credit paid out. <br/>
  Payment reference is: C-AT-2021{{userService.getUserID()}} <br/>

  <p>Statement of account:</p>
  <a *ngIf="wallet.transactions.length === 0">You don't have any payment transactions yet.</a>
  <div class="table-responsive">
    <table mat-table [dataSource]="wallet.transactions" matSort class="mat-elevation-z8"
           *ngIf="wallet.transactions.length > 0">

      <!-- Icon Colum -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="false" class="green-icon" aria-label="Icon"
                    *ngIf="element.receiver === userService.getUserID()">add_circle
          </mat-icon>
          <mat-icon aria-hidden="false" color="warn" aria-label="Icon"
                    *ngIf="element.receiver !== userService.getUserID()">remove_circle
          </mat-icon>
        </td>
      </ng-container>

      <!-- Transaction Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp | date : 'dd.MM.yyyy'}} </td>
      </ng-container>

      <!-- Receiver Column -->
      <ng-container matColumnDef="receiver_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Receiver</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.receiver_name">
            COVIDO Ltd.
          </ng-container>
          <ng-container *ngIf="element.receiver_name">
            {{element.receiver_name}}
          </ng-container>
        </td>
      </ng-container>

      <!-- Sender Column -->
      <ng-container matColumnDef="sender_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sender</th>

        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.sender_name">
            COVIDO Ltd.
          </ng-container>
          <ng-container *ngIf="element.sender_name">
            {{element.sender_name}}
          </ng-container>
        </td>
      </ng-container>


      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} EUR</td>
      </ng-container>

      <!-- Reference Column -->
      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference</th>

        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.sender_name && element.receiver === userService.getUserID()">
            Deposit
          </ng-container>
          <ng-container *ngIf="!element.receiver && element.receiver !== userService.getUserID()">
            Withdrawal
          </ng-container>
          <ng-container *ngIf="element.sender_name">
            {{element.reference}}
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>
