<form class="login-form" [formGroup]="loginFormGroup" (ngSubmit)="login()">

  <div class="logo-background">
  <img class="img-login" src="../assets/LogoV3.gif">
  </div>
  <!-- Header -->
  <h1>Welcome to COVIDO</h1>

  <!-- E-Mail-Address -->
  <mat-form-field class="login-field">
    <input matInput placeholder="me@example.at" formControlName="email" name="email" required>
    <mat-error *ngIf="loginFormGroup.controls.email.hasError('email')">Email is required</mat-error>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field class="login-field">
    <input matInput placeholder="Password" formControlName="password" type="password" name="password"
           required>
    <mat-error *ngIf="loginFormGroup.controls.password.hasError('required')">Password is required</mat-error>
  </mat-form-field>

  <!-- Login-Button -->
  <div class="login-button">
    <button mat-raised-button class="register-button" type="submit" color="primary"
            [disabled]="!loginFormGroup.valid">Login
    </button>
  </div>

  <!-- Register-Button -->
  <div class="login-button">
    <button routerLink="/register" mat-raised-button class="register-button" type="button" color="basic">Register new Account
    </button>
  </div>
</form>
