.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.login-field {
  width: 20em;
}
.login-button {
  width: 15em;
  margin-top: 1em;
}
.register-button {
  width: 15em;
  margin-top: 1em;
}
.img-login {
  align-content: center;
  width: 20rem;
  margin: 3rem;
  margin-top: 10%;
  padding: 3rem;
}
