<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- Create/Update ShoppingList -->
<form [formGroup]="shoppinglistFormGroup" (ngSubmit)="createOrUpdateShoppingList()" class="shoppinglist-form__form">
  <div class="sketchy">{{shoppinglistFormGroup.controls.description.value}}</div>

  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
    <mat-hint align="end">Give it a name</mat-hint>
    <mat-error *ngIf="shoppinglistFormGroup.controls.description.hasError('required')">Your Shoppinglist must have a name</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Comment" formControlName="comment"></textarea>
    <mat-hint align="end">Leave your comment here :-)</mat-hint>
  </mat-form-field>


  <mat-form-field>
    <input matInput type="number" placeholder="max_budget" formControlName="max_budget">
    <mat-hint align="end">whats the max budget?</mat-hint>
    <mat-error *ngIf="shoppinglistFormGroup.controls.max_budget.hasError('min')">Max Budget must be greater than 0.</mat-error>
    <mat-error *ngIf="shoppinglistFormGroup.controls.max_budget.hasError('notEnoughCredit')">You do not have enough credit!</mat-error>
    <span matPrefix>€&nbsp;</span>
  </mat-form-field>


  <mat-checkbox formControlName="only_bio" color="primary">I want only bio products</mat-checkbox>

  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!shoppinglistFormGroup.valid || !shoppinglistFormGroup.dirty">
      <span *ngIf="!shoppinglistFormGroup.controls.pk.value">Create ShoppingList</span>
      <span *ngIf="shoppinglistFormGroup.controls.pk.value">Update ShoppingList</span>
    </button>
  </mat-card-actions>
  <!-- List Items Section-->
  <p></p>
  <div *ngIf="shoppinglistFormGroup.controls.pk.value != null">
  <h3 align="center">Items of your Shoppinglist</h3>
  <table class="mat-elevation-z8" align="center">
    <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Unit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of shoppinglistFormGroup.controls.items.value">
      <td> {{item.name}} </td>
      <td> {{item.amount}} </td>
      <td> {{item.unit}} </td>
      <td>
        <button mat-button color="warn" (click)="deleteItem(item)"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
<!-- Button for Create/Update Shoppinglist and to "open" items section-->
  <p></p>

</form>

<!-- Create Items Section-->
<ng-container>
  <form [formGroup]="itemFormGroup" (ngSubmit)="createOrUpdateItems()" class="shoppinglist-form__form">

    <div class="items" *ngIf="shoppinglistFormGroup.controls.pk.value != null">
    <mat-form-field>
      <input matInput type="text" placeholder="name" formControlName="name">
      <mat-hint align="end">Item Name</mat-hint>
      <mat-error *ngIf="itemFormGroup.controls.name.hasError('required') && itemFormGroup.controls.name.touched">Item name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="amount" formControlName="amount">
      <mat-hint align="end">amount</mat-hint>
      <mat-error *ngIf="itemFormGroup.controls.amount.hasError('min')">Amount cannot be 0</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Unit</mat-label>
      <mat-select placeholder="Unit" formControlName="unit">
        <mat-option [value]="unit.key"
                    *ngFor="let unit of shoppingListService.UnitNames | keyvalue"> {{unit.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions align="center">
      <button mat-button color="primary" [disabled]="!itemFormGroup.valid"><i class="fa fa-plus"></i> Item to Shoppinglist</button>
    </mat-card-actions>
    </div>
  </form>
</ng-container>
