<!-- Reference: https://www.youtube.com/watch?v=lrVpUVydZwM -->

<h2 mat-dialog-title>Bill Confirmation</h2>
<mat-dialog-content>
  <p>Please upload a photo of the invoice and enter the amount you actually paid.</p>
  <div>
    <app-mediainput [formControl]="pbDFormGroup.controls.pictures"></app-mediainput>
  </div>
  <p></p>
  <mat-form-field class="bill_amount">
    <mat-hint align="end">The amount you actually paid.</mat-hint>
    <input matInput placeholder="Bill total" type="number" [formControl]="pbDFormGroup.controls.bill_amount" name="bill_amount" required>
    <mat-error *ngIf="pbDFormGroup.controls.bill_amount.hasError('min')">Bill total must be positive or 0.</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn" [mat-dialog-close]="false">Cancel</button>
  <button mat-button mat-dialog-close color="primary" [mat-dialog-close]="true" (click)="onOKClick()" [disabled]="!pbDFormGroup.valid || pbDFormGroup.controls.pictures.value.length === 0">OK</button>
</mat-dialog-actions>
