.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.register-field {
  width: 20em;
}
.register-button {
  width: 15em;
  margin-top: 1em;
}
