<form class="register-form" [formGroup]="registerFormGroup" (ngSubmit)="register()">

  <!-- Header -->
  <h1>Welcome to COVIDO</h1>

  <!-- First Name -->
  <mat-form-field class="register-field">
    <input matInput placeholder="First Name" formControlName="first_name" name="first_name" required>
    <mat-error *ngIf="registerFormGroup.controls.first_name.hasError('required')">First name is required</mat-error>
  </mat-form-field>

  <!-- Last Name -->
  <mat-form-field class="register-field">
    <input matInput placeholder="Last Name" formControlName="last_name" name="last_name" required>
    <mat-error *ngIf="registerFormGroup.controls.last_name.hasError('required')">Last name is required</mat-error>
  </mat-form-field>

  <!-- City -->
  <mat-form-field class="register-field">
    <input matInput placeholder="City" formControlName="city" name="city" required>
    <mat-error *ngIf="registerFormGroup.controls.city.hasError('required')">City is required</mat-error>
    <mat-error *ngIf="registerFormGroup.controls.city.hasError('pattern')">No numbers are allowed here</mat-error>
  </mat-form-field>

  <!-- Zip code -->
  <mat-form-field class="register-field">
    <input matInput placeholder="ZIPCode" formControlName="zipcode" name="zipcode" required>
    <mat-error *ngIf="registerFormGroup.controls.zipcode.hasError('pattern')">Austrian 4-digit zip code is required</mat-error>
  </mat-form-field>

  <!-- Street name -->
  <mat-form-field class="register-field">
    <input matInput placeholder="Address" formControlName="street_name" name="street_name" required>
    <mat-error *ngIf="registerFormGroup.controls.street_name.hasError('required')">Name is required</mat-error>
  </mat-form-field>

  <!-- Street number -->
  <mat-form-field class="register-field">
    <input matInput placeholder="Street number" formControlName="street_number" name="street_number" required>
    <mat-error *ngIf="registerFormGroup.controls.street_number.hasError('required')">Street number is required</mat-error>
  </mat-form-field>

  <!-- E-Mail-Address -->
  <mat-form-field class="register-field">
    <input matInput placeholder="Email" formControlName="email" name="email" required>
    <mat-error *ngIf="registerFormGroup.controls.email.hasError('required')">E-Mail is required</mat-error>
    <mat-error *ngIf="registerFormGroup.controls.email.hasError('email')">Please enter a valid e-mail address</mat-error>
  </mat-form-field>

  <!-- E-Mail-Confirmation -->
  <mat-form-field class="register-field">
    <input matInput placeholder="Confirm Email" formControlName="emailConf" name="emailConf" required>
    <mat-error *ngIf="registerFormGroup.controls.emailConf.hasError('required')">E-Mail is required</mat-error>
    <mat-error *ngIf="registerFormGroup.controls.emailConf.hasError('email')">Please enter a valid e-mail address</mat-error>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field class="register-field">
    <input matInput placeholder="Password" formControlName="password" type="password" name="password"
           required>
    <mat-error *ngIf="registerFormGroup.controls.password.hasError('required')">Password is required</mat-error>
  </mat-form-field>

  <!-- Password confirmation -->
  <mat-form-field class="register-field">
    <input matInput placeholder="Confirm password" formControlName="passwordConf" type="password" name="passwordConf"
           required>
    <mat-error *ngIf="registerFormGroup.hasError('invalidConfirmationPW')">Passwords do not match</mat-error>
  </mat-form-field>

  <!-- Affected or Volunteer -->
  <mat-form-field class="register-field">
    <mat-select placeholder="Role" formControlName="role">
      <mat-option value="1">Affected</mat-option>
      <mat-option value="2">Volunteer</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Terms of service checkbox -->
  <mat-checkbox class="register-field" formControlName="tos" name="tos" color="primary" required>I agree to the terms of service</mat-checkbox>

  <!-- Register-Button -->
  <div class="register-button">
    <button mat-raised-button class="register-button" type="submit" color="primary"
            [disabled]="!registerFormGroup.valid">Register
    </button>
  </div>
</form>
